In [3]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.ensemble import RandomForestClassifier

In [4]:
objects = pd.read_csv("objects.csv", header= None)
objects.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int64')

In [5]:
objects.head()

   0   1   2    3    4    5   ...        11        12        13  14  15   16
0   2   0   0  0.0  0.0  0.0  ...  0.015296  0.015591  2.108191   1   1  1.0
1   4   0   0  0.0  0.0  0.0  ...  0.011544  0.022952  2.075570   1   1  1.0
2   6   0   0  0.0  0.0  0.0  ...  0.019175  0.022089  2.129273   1   1  1.0
3   8   0   0  0.0  0.0  0.0  ...  0.011245  0.029974  1.985495   1   1  1.0
4  10   0   0  0.0  0.0  0.0  ...  0.016141  0.025490  2.016380   1   1  1.0

[5 rows x 17 columns]

In [7]:
objects.describe()

               0           1      2   ...          14          15          16
count  832.000000  832.000000  832.0  ...  832.000000  832.000000  832.000000
mean    78.466346    1.885817    0.0  ...   -0.680288   -1.925481   -0.692608
std     45.019839    1.041932    0.0  ...    0.733385    1.609007    0.706884
min      2.000000    0.000000    0.0  ...   -1.000000   -4.000000   -1.000000
25%     40.000000    1.000000    0.0  ...   -1.000000   -3.000000   -1.000000
50%     78.000000    2.000000    0.0  ...   -1.000000   -2.000000   -1.000000
75%    116.000000    3.000000    0.0  ...   -1.000000   -1.000000   -1.000000
max    170.000000    3.000000    0.0  ...    1.000000    1.000000    1.000000

[8 rows x 17 columns]

In [9]:
# removing first column only

#objects_dropped = objects.drop([0], axis=1)
#y = objects_dropped[1]
#X = objects_dropped.iloc[:, 1:]

In [5]:
# removing first and second columns 

#objects_dropped = objects.drop([0, 2], axis=1)
#X = objects_dropped.iloc[:, 1:]
#y = objects_dropped[1]

In [5]:
# removing first, second and 14th columns 

#objects_dropped = objects.drop([0, 2, 14], axis=1)
#X = objects_dropped.iloc[:, 1:]
#y = objects_dropped[1]

In [15]:
# removing first, second, 14th, 15th and 16th 

objects_dropped = objects.drop([0, 2, 14, 15, 16], axis=1)
X = objects_dropped.iloc[:, 1:]
y = objects_dropped[1]

In [16]:
objects_dropped

     1         3         4         5   ...        10        11        12        13
0     0  0.000000  0.000000  0.000000  ... -0.083974  0.015296  0.015591  2.108191
1     0  0.000000  0.000000  0.000000  ... -0.002934  0.011544  0.022952  2.075570
2     0  0.000000  0.000000  0.000000  ... -0.015035  0.019175  0.022089  2.129273
3     0  0.000000  0.000000  0.000000  ...  0.020257  0.011245  0.029974  1.985495
4     0  0.000000  0.000000  0.000000  ...  0.012943  0.016141  0.025490  2.016380
..   ..       ...       ...       ...  ...       ...       ...       ...       ...
827   3  0.000000  0.000000  0.000000  ... -0.224542  1.590410  1.590409  1.213491
828   3 -0.006328 -0.224542  1.590410  ...  0.098694  1.576012  1.572468  0.936861
829   3  1.244627  0.098694  1.576012  ... -1.142839 -3.035068  3.034809  0.861440
830   3 -0.007455 -1.142839 -3.035068  ...  0.170189 -1.598714  1.597970  1.150800
831   3  0.000000  0.000000  0.000000  ... -0.012049  1.591427  1.591427  0.985569

[832 rows x 12 columns]

###KNN

In [17]:
classifier = KNeighborsClassifier(n_neighbors=3, p=1)

In [18]:
cv = StratifiedKFold(n_splits=5, random_state=1, shuffle=True)
#accuracy = cross_val_score(classifier, X, y, cv=cv, 
#                           scoring='accuracy')
#np.mean(accuracy)

In [19]:
results = cross_validate(classifier, X, y, cv=cv, 
                         scoring='accuracy', return_estimator=True)
print(results)

{'fit_time': array([0.00727606, 0.00329566, 0.00348425, 0.00413585, 0.00321937]), 'score_time': array([0.00895953, 0.00942016, 0.00873208, 0.00913048, 0.00878763]), 'estimator': [KNeighborsClassifier(n_neighbors=3, p=1), KNeighborsClassifier(n_neighbors=3, p=1), KNeighborsClassifier(n_neighbors=3, p=1), KNeighborsClassifier(n_neighbors=3, p=1), KNeighborsClassifier(n_neighbors=3, p=1)], 'test_score': array([0.80838323, 0.83233533, 0.86746988, 0.8313253 , 0.8373494 ])}

In [20]:
results['test_score']

array([0.80838323, 0.83233533, 0.86746988, 0.8313253 , 0.8373494 ])

In [21]:
y_predict = cross_val_predict(classifier, X, y, cv=cv)
metrics.accuracy_score(y, y_predict)

0.8353365384615384

###Decision Tree

In [12]:
classifier = DecisionTreeClassifier()
cv = StratifiedKFold(n_splits=5, random_state=1, shuffle=True)
#accuracy = cross_val_score(classifier, X, y, cv=cv, 
#                           scoring='accuracy')
#np.mean(accuracy)

In [13]:
y_predict = cross_val_predict(classifier, X, y, cv=cv)
metrics.accuracy_score(y, y_predict)

0.8954326923076923

##Random Forest

In [14]:
classifier = RandomForestClassifier()
cv = StratifiedKFold(n_splits=5, random_state=1, shuffle=True)
#accuracy = cross_val_score(classifier, X, y, cv=cv, 
#                           scoring='accuracy')
#np.mean(accuracy)

In [15]:
y_predict = cross_val_predict(classifier, X, y, cv=cv)
metrics.accuracy_score(y, y_predict)

0.9194711538461539